<!-- <p class="text-3xl">home works!</p> -->
<!-- <div class="m-4">

    <div *ngFor="let bill of allBills" class="flex bg-white mt-2 gap-2 rounded-lg p-6 align-middle">
        <p class="text-xl">{{bill['name']}}</p>
        <p class="text-lg ml-auto pr-4">{{'$' + bill['amount_pending']}}</p>
    </div>
</div> -->

<div class="w-full h-full px-[15rem] py-[5rem]">
  <div class="grid grid-cols-[200px_200px_200px_1fr] gap-8 h-full text-white">
    <div class="rounded-lg col-span-3 grid grid-cols-2 gap-4 min-h-24">
      <div
        class="rounded-lg card text-center flex items-center justify-center text-3xl !bg-[#1d6452]"
      >
        ADD EXPENSE
      </div>
      <div
        class="rounded-lg card flex items-center justify-center text-3xl !bg-[#a04e34]"
      >
        SETTLE UP
      </div>
    </div>
    <div class="p-3 row-span-2 rounded-lg card">a</div>
    <div class="p-3 rounded-lg card">
      <div class="flex flex-col gap-2 items-center justify-center h-[100%]">
        <div>Total Balance</div>
        <div class="text-3xl text-green-500">$180.00</div>
      </div>
    </div>
    <div class="p-3 rounded-lg card">
      <div class="flex flex-col gap-2 items-center justify-center h-[100%]">
        <div>You Owe</div>
        <div class="text-3xl text-red-500">$180.00</div>
      </div>
    </div>
    <div class="p-3 rounded-lg card">
      <div class="flex flex-col gap-2 justify-center h-[100%] items-center">
        <div>You are owed</div>
        <div class="text-3xl text-green-500">$180.00</div>
      </div>
    </div>

    <div class="card col-span-3 rounded-lg">
      <div class="grid grid-rows-[56px_1fr]">
        <div class="col-span-2 bg-[#202625] rounded-t-lg">
          <div class="grid grid-cols-2 items-center p-4">
            <div class="flex items-center">YOU OWE</div>
            <div class="flex items-center">YOU ARE OWED</div>
          </div>
        </div>
        <div class="p-8 overflow-y-auto max-h-[32rem]">
          <div
            class="flex gap-2 h-14"
            *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
          >
            <div class="text-4xl"><i class="fi fi-rr-circle-user"></i></div>
            <div class="flex flex-col pl-2">
              <div class="">Dinesh</div>
              <div class="text-slate-500 text-xs">
                you owe <span class="text-red-500">$12.81</span>
              </div>
            </div>
          </div>
        </div>
        <div class="p-8 overflow-y-auto max-h-[700px]">
          <div class="flex gap-2 h-14" *ngFor="let i of [1, 2]">
            <div class="text-4xl"><i class="fi fi-rr-circle-user"></i></div>
            <div class="flex flex-col pl-2">
              <div class="">Dinesh</div>
              <div class="text-slate-500 text-xs">
                owes you <span class="text-green-500">$12.81</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card rounded-lg">
      <div class="grid grid-rows-[56px_1fr]">
        <div class="bg-[#202625] p-4 rounded-t-lg">Recent Activity</div>

        <div class="p-8 overflow-y-auto max-h-[32rem]">
          <div class="flex gap-2 h-14" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7]">
            <div>
              <i class="fi fi-rs-receipt" style="font-size: xx-large"></i>
            </div>
            <div class="flex flex-col">
              <div>You added "Demo"</div>
              <div class="text-slate-500 text-xs">
                you get <span class="text-green-500">$12.81</span>
              </div>
              <div class="text-slate-500 text-xs">Today</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
